<div class='side-bar-container'>
  <a href="/">
    <div class='logo-container'>
        <p>C</p>
    </div>
  </a>
  <div class='nav-bar-container'>
    <div class='nav-bar-menu-container'>
      {{!-- {{> components/icon/icon key="side-bar-0" type="person" size="46" color=uiConstants.palette.ON_PRIMARY fill=0}}
      {{> components/icon/icon key="side-bar-1" type="forum" size="46" color=uiConstants.palette.ON_PRIMARY fill=0}}
      {{> components/icon/icon key="side-bar-2" type="archive" size="46" color=uiConstants.palette.ON_PRIMARY fill=0}} --}}
    </div>
      {{!-- {{> components/icon/icon key="side-bar-3" type="logout" size="46" color=uiConstants.palette.ON_PRIMARY fill=0}} --}}
  </div>
</div>