{{#> components/layout/layout modal=true delete_chat=true}}
    <div class="chat-container">
        {{> components/chat/chat-main-section/chat-main-section}}
        {{> components/chat/chat-message-section/chat-message-section}}
         {{#if edit_mode}}
            {{> components/chat/chat-edit-section/chat-edit-section}}
        {{/if}}
    </div> 
{{/ components/layout/layout}}