{{#> components/layout/layout}}
    <div class="chat-container">
        {{> components/chat/chat-main-section/chat-main-section}}
        {{> components/chat/chat-message-section/chat-message-section}}
         {{#if uiConstants.settings.edit_mode}}
              <div class="chat-edit-section"></div>
        {{/if}}
    </div> 
{{/ components/layout/layout}}