<div class="send-message-bar-container">
   {{> components/icon/icon key="attach_file" type="attach_file" size="36" color=uiConstants.palette.LIGHT fill=1 }}
  <input
    class='send-message-bar-input'
    type='text'
    value='{{value}}'
    placeholder={{uiConstants.placeholders.MESSAGE}}
  />
  {{> components/icon/icon key="send" type="send" size="36" color=uiConstants.palette.LIGHT fill=1 }}
</div>