<div class="chat-main-section">
    {{> components/chat/search-bar/search-bar }}
    {{#> components/chat/chat-list/chat-list header=uiConstants.headers.CHAT_LIST controls=true }}
      chats
    {{/ components/chat/chat-list/chat-list}}
</div>