<div class='input-container'>
  <input
    class='input'
    type='{{type}}'
    value='{{value}}'
    placeholder='{{placeholder}}'
  />
  {{#if icon}}
    <span class='material-symbols-outlined'> visibility </span>
  {{/if}}
</div>