<div class='input-wrapper'>
  <input
    class='input'
    type='{{type}}'
    value='{{value}}'
    placeholder='{{placeholder}}'
  />
  {{#if icon}}
    <span class='material-symbols-outlined'> visibility </span>
  {{/if}}
    <span class="error-text">{{error}}</spna>
</div>