<div class="chat-message-section">
  <div class="chat-message-section-header">
    <div class="chat-message-section-bage-container">  
      <img src={{_mock_user.avatar}} alt="chat bage" width="60" height="60"/>
      <p>назавение чата</p>
    </div>
    <div class="chat-message-section-controls">
      {{> components/icon/icon key="chat-message-sectio-icon-0" type="add_circle" size="42" color=uiConstants.palette.ON_PRIMARY fill=0}}
      {{> components/icon/icon key="chat-message-sectio-icon-1" type="settings" size="42" color=uiConstants.palette.DARK fill=0}}
    </div>
  </div>
  {{> components/chat/chat-field/chat-field}}
  {{> components/chat/send-message-bar/send-message-bar}}
</div>