<div class="chat-modal-card-container">
  <p class="chat-modal-card-header">{{header}}</p> 
  <p class="chat-modal-card-warning">{{warning}}: {{item}}?</p>
  <div class="chat-modal-card-button-container">
    {{>components/button/button type='button' text=uiConstants.buttons.DELETE}}
  </div>
</div>