<div class='attach-popup-container'>
    {{> components/icon/icon key="add-photo-alternate" type="add_photo_alternate" size="36" color=uiConstants.palette.ON_PRIMARY fill=1 }}
    {{> components/icon/icon key="note-add" type="note_add" size="36" color=uiConstants.palette.ON_PRIMARY fill=1 }}
    {{> components/icon/icon key="add-location-alt" type="add_location_alt" size="36" color=uiConstants.palette.ON_PRIMARY fill=1 }}
</div>
