<li class='chat-card-constaier'>
  <div class='chat-card-main-container'>
    <img src={{avatar}} alt='avatar' />
    <div class='chat-card-text-container'>
      <p>{{title}}</p>
      <p class='chat-card-styled-text'>
        {{content}}
      </p>
    </div>
  </div>
  <div class='chat-card-info-container'>
    {{#dateFormatter}}{{time}}{{/dateFormatter}}
  </div>
</li>