{{#> layout/layout}}
<div class="container">
  <div class="form-container">
    <div class="header">
      <p>{{uiConstants.LOGIN}}</p>
    </div>
    <from class="form">
      {{> input/input type="login" placeholder="login" }} 
      {{> input/input type="password" placeholder="password" icon=true }}
    </from>
  </div>
</div>
{{/ layout/layout}}
