<div class="form-container">
      {{#if form_title}}
      <div class="header">
        <p>{{form_title}}</p>
      </div>
      {{/if}}
      <from class="form">
         {{> @partial-block}}
        </div>
      </from>
</div>