<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <link rel='icon' type='image/svg+xml' href='/vite.svg' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
     <link rel="stylesheet" href="/src/styles/styles.scss" />
    <title>{{title}}</title>
  </head>
  <body>
      {{#if modal}}
        {{#if delete_chat}}
        {{#> components/modal/modal/modal}}
          {{> components/chat/chat-modal-card/chat-modal-card 
            header=uiConstants.headers.DELETE_CHAT 
            warning=uiConstants.warnings.DELETE_CHAT
            item=_mock_chats.[0].title
          }}
         {{/ components/modal/modal/modal}}
        {{/if}}
        {{#if delete_user}}
        {{#> components/modal/modal/modal}}
          {{> components/chat/chat-modal-card/chat-modal-card 
            header=uiConstants.headers.DELETE_USER 
            warning=uiConstants.warnings.DELETE_USER
            item=_mock_users.[1].login
          }}
         {{/ components/modal/modal/modal}}
        {{/if}}
      {{/if}}
    <div class="layout">
        {{> components/side-bar/side-bar}}
        {{> @partial-block}}
    </div>
  </body>
</html>