<div class="chat-list-container">
      <div class="chat-list-header">
        <p>{{header}}</p>
        {{#if controls}}
          {{> components/icon/icon key="chat-list-settings" type="settings" size="36" color=uiConstants.palette.LIGHT fill=0 }}
        {{/if}}
      </div>
      <div class="chat-list">
       {{> @partial-block}}
      </div>
</div>