@import 'theme';

@import '../pages/login/_login.scss';
@import '../pages/register/_register.scss';
@import '../pages/profile/_profile.scss';
@import '../pages/chat/_chat.scss';

@import '../components/form/form';
@import '../components/layout/_layout.scss';
@import '../components/input-field/_input-field.scss';
@import '../components/button/_button.scss';
@import '../components/side-bar/_side-bar.scss';
@import '../components/icon/_icon.scss';
@import '../components/error-card/_error-card.scss';

@import '../components/profile-input-field/_profile-input-field.scss';
@import '../components/profile-modal/_profile-modal.scss';

@import '../components/modal/modal/_modal.scss';
@import '../components/modal/modal-overlay/_modal-overlay.scss';

@import '../components/chat/search-bar/_search-bar.scss';
@import '../components/chat/send-message-bar/_send-message-bar.scss';
@import '../components/chat/chat-field/_chat-field.scss';
@import '../components/chat/attach-popup/_attach-popup.scss';
@import '../components/chat/chat-main-section/_chat-main-section.scss';
@import '../components/chat/chat-message-section/_chat-message-section.scss';
@import '../components/chat/chat-list/_chat-list.scss';
@import '../components/chat/chat-card/_chat-card.scss';
@import '../components/chat/chat-edit-section/_chat-edit-section.scss';
@import '../components/chat/user-card/_user-card.scss';
@import '../components/chat/chat-modal-card/_chat-modal-card.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
