@import 'theme';
@import '../pages/login/login';
@import '../pages/register/register';
@import '../pages/profile/profile';
@import '../pages/chat/chat';
@import '../components/form/form';
@import '../components/layout/layout';
@import '../components/input-field/input-field';
@import '../components/button/button';
@import '../components/side-bar/side-bar';
@import '../components/icon/icon';
@import '../components/error-card/error-card';
@import '../components/error-line/erorr-line';
@import '../components/profile-input-field/profile-input-field';
@import '../components/profile-modal/profile-modal';
@import '../components/modal/modal/modal';
@import '../components/modal/modal-overlay/modal-overlay';
@import '../components/chat/search-bar/search-bar';
@import '../components/chat/send-message-bar/send-message-bar';
@import '../components/chat/chat-field/chat-field';
@import '../components/chat/attach-popup/attach-popup';
@import '../components/chat/chat-main-section/chat-main-section';
@import '../components/chat/chat-message-section/chat-message-section';
@import '../components/chat/chat-list/chat-list';
@import '../components/chat/chat-card/chat-card';
@import '../components/chat/chat-edit-section/chat-edit-section';
@import '../components/chat/user-card/user-card';
@import '../components/chat/chat-modal-card/chat-modal-card';
@import '../components/chat/message/message';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
