@import 'theme';
@import '../partials/components/form/form';
@import '../partials/pages/login/_login.scss';
@import '../partials/pages/register/_register.scss';
@import '../partials/pages/profile/_profile.scss';
@import '../partials/pages/chat/_chat.scss';

@import '../partials/components/layout/_loyout.scss';
@import '../partials/components/input/_input.scss';
@import '../partials/components/button/_button.scss';
@import '../partials/components/side-bar/_side-bar.scss';
@import '../partials/components/icon/_icon.scss';
@import '../partials/components/error-card/_error-card.scss';
@import '../partials/components/profile-input/_profile-input.scss';
@import '../partials/components/chat/search-bar/_search-bar.scss';
@import '../partials/components/chat/send-message-bar/_send-message-bar.scss';
@import '../partials/components/chat/chat-field/_chat-field.scss';
@import '../partials/components/chat/attach-popup/_attach-popup.scss';
@import '../partials/components/chat/chat-main-section/_chat-main-section.scss';
@import '../partials/components/chat/chat-message-section/_chat-message-section.scss';
@import '../partials/components/chat/chat-list/_chat-list.scss';
@import '../partials/components/chat/chat-card/_chat-card.scss';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
