.chat-field-container {
  width: 100%;
  background-color: $bg-color;
  border-radius: $radius;
  padding: #{$baseline * 4}px;;
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  gap: #{$baseline * 4}px;
}
