.material-symbols-outlined {
  background-color: inherit;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
.icon-contanaier {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
