<div class='side-bar-container'>
  <div class='logo-container'>
    <a href="/">
      <p>C</p>
    </a>
  </div>
  <div class='nav-bar-container'>
    <div class='nav-bar-menu-container'>
      {{> components/icon/icon key="side-bar" type="person" size="46" color=uiConstants.palette.ON_PRIMARY fill=0}}
      {{> components/icon/icon key="side-bar1" type="forum" size="46" color=uiConstants.palette.ON_PRIMARY fill=0}}
      {{> components/icon/icon key="side-bar2" type="archive" size="46" color=uiConstants.palette.ON_PRIMARY fill=0}}
    </div>
      {{> components/icon/icon key="side-bar3" type="logout" size="46" color=uiConstants.palette.ON_PRIMARY fill=0}}
  </div>
</div>