<div class='side-bar-container'>
  <div class='logo-container'>
    <p>C</p>
  </div>
  <div class='nav-bar-container'>
    <div class='nav-bar-menu-container'>
      {{> components/icon/icon name="side-bar" type="person" size="46" color=uiConstants.palette.onPrimary fill=0}}
      {{> components/icon/icon name="side-bar" type="forum" size="46" color=uiConstants.palette.onPrimary fill=0}}
      {{> components/icon/icon name="side-bar" type="archive" size="46" color=uiConstants.palette.onPrimary fill=0}}
    </div>
      {{> components/icon/icon name="side-bar" type="logout" size="46" color=uiConstants.palette.onPrimary fill=0}}
  </div>
</div>