<div class="error-card-container">
  <div class="error-card">
    <p class="error-card-header">{{header}}</p>
    <p class="error-card-text">{{text}}</p>
    <div class="error-card-button">{{> components/button/button type="button" text=uiConstants.buttons.GO_BACK}}</div>
  </div>
</div>