<div class="search-bar-container">
   {{> components/icon/icon key="search" type="search" size="36" color=uiConstants.palette.LIGHT fill=1 }}
  <input
    class='search-bar-input'
    type='text'
    value='{{value}}'
    placeholder={{uiConstants.placeholders.SEARCH}}
  />
</div>

