.chat-edit-section {
  width: 360px;
  height: 100%;
  background-color: $light;
  border-radius: $radius;
  padding: #{$baseline * 4}px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: #{$baseline * 4}px;
}

.chat-edit-section-controls-container {
  width: 100%;
  background-color: $on-primary;
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: #{$baseline * 4}px;
  padding: #{$baseline * 4}px;
}

.chat-edit-section-edit-img {
  position: relative;

  img {
    width: 115px;
    height: 115px;
    border-radius: $radius;
    object-fit: cover;
  }

  .button {
    width: 115px;
    height: 115px;
    border-radius: $radius;
    background-color: $black;
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.chat-edit-section-controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.chat-edit-section-input {
  height: 40px;
  border: none;
  outline: none;
  border-bottom: solid $light;

  &::placeholder {
    @include medium-text-light;

    font-family: $font-stack;
  }

  &:hover {
    transform: scale(0.99);
  }

  @include medium-text-light;

  font-family: $font-stack;
}
