.profile-form-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.profile-image-container {
  width: 100%;
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $on-primary;
}

.profile-image {
  border-radius: $radius;
}
