.error-card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-card {
  padding: #{$baseline * 4}px;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $light;
  border-radius: $radius;
  gap: #{$baseline * 8}px;
  text-align: center;
}

.error-card-header {
  
  @include large-text-on-primary;
  
  font-size: 50px;
}

.error-card-text {
  
  @include large-text-on-primary;
}

.error-card-button {
  background-color: $dark;
  padding: #{$baseline * 2}px #{$baseline * 4}px;
  height: 40px;
  border-radius: $radius;
}
